
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/assets/bootstrap/
/public/assets/fontawesome/
/public/assets/fonts/
/public/assets/foundation/
/public/assets/jquery/
/public/assets/richtext/
/public/assets/simpleuploader/
/public/assets/vegas/
/public/assets/webfonts/
/public/upload/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
/bedrijven.xlsx
/composer.json
/composer.lock
/phpunit.xml.dist
/symfony.lock
/.env
/.env.test
###< symfony/phpunit-bridge ###
