{% extends 'base.html.twig' %}

{% block title %}Registreer je nu!{% endblock %}

{% block body %}

    <script>
        $(document).ready(function() {
            let uploader = new ss.SimpleUpload({
                button: "upload",
                url: "{{ path('upload_file') }}",
                name: 'file', // upload parameter name die gebruikt wordt in de controller
                responseType: 'json',
                allowedExtensions: ['png', 'jpg', 'jpeg', 'pdf'],
                hoverClass: 'hover-class-upload',
                focusClass: 'hover-class-upload',
                multiple: false,
                disabledClass: 'ui-state-disabled',
                autoSubmit: true,
                onSizeError: function() {
                    alert('File may not exceed 100MB');
                },
                onExtError: function() {
                    alert('Invalid file type. Please use a PNG, JPG or JPEG or PDF file');
                },
                onSubmit: function( filename, extension, uploadBtn, fileSize ) {
                    /// Bijvoorbeeld een overlay of een spinner starten...
                    return(true);
                },
                onComplete: function (filename, response) {
                    if(response.success === false) {
                        alert(response.errors);
                    } else {
                        /// Doe iets met response.file_id (path naar de geuploade file)
                        
                    }
                }
            });
        });
    </script>



    <div class="grid-x grid-padding-x margin-body">
        <div class="cell small-3">
            plaatje
        </div>

        <div class="cell small-8">

            <form class="form-horizontal" action="{{ path('saveProfiel') }}" method="POST">
                <fieldset>

                    <legend><h1 style="color: var(--orange)">Registreer je nu!</h1></legend>

                    <input id="roles" name="roles[]" value="ROLE_KANDIDAAT" type="hidden" class="form-control input-md" required="">                

                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-6">
                            <label class="control-label" for="voornaam">Voornaam</label>  
                            <input id="voornaam" name="voornaam" type="text" class="form-control input-md" required="">                
                        </div>
                        <div class="cell medium-6">
                            <label class="control-label" for="naam">Achternaam</label>  
                            <input id="naam" name="naam" type="text" class="form-control input-md" required="">                    
                        </div>
                    </div>

                    <label class="control-label" for="email">Email-adres</label>  
                    <input id="email" name="email" type="text" class="form-control input-md" required="">

                    <label class="control-label" for="email">Wachtwoord</label>  
                    <input id="password" name="password" type="password" class="form-control input-md" minlength="4" required="">

                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-6">
                            <label class="control-label" for="geboortedatum">Geboortedatum (dd-mm-yyyy)</label>  
                            <input type="date-local" id="geboortedatum" name="geboortedatum" placeholder="dd-mm-yyyy" class="form-control input-md" required="" style="padding: 9px; width: 100%">
                        </div>
                        <div class="cell medium-6">
                            <label class="control-label" for="telefoonnummer">Telefoonnummer</label>  
                            <input id="telefoonnummer" name="telefoonnummer" type="text" class="form-control input-md" required="">
                        </div>
                    </div>
                
                    <label class="control-label" for="adres">Adres</label>  
                    <input id="adres" name="adres" type="text" class="form-control input-md" required="">

                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-6">
                            <label class="control-label" for="postcode">Postcode</label>  
                            <input id="postcode" name="postcode" type="text" class="form-control input-md" required="">
                        </div>
                        <div class="cell medium-6">
                            <label class="control-label" for="woonplaats">Woonplaats</label>  
                            <input id="woonplaats" name="woonplaats" type="text" class="form-control input-md" required="">
                        </div>
                    </div>

                    <label class="control-label" for="gebruikerBeschrijving"><h1 style="color: var(--orange)">MOTIVATIE</h1></label>  
                    <textarea id="gebruikersBeschrijving" name="gebruikerBeschrijving" class="richtext" rows="10" required=""></textarea>

                    <div id="upload"
                        style="width: 200px; height: 200px; background-color: #F00; cursor: pointer">
                    </div>

                    <i class="fas fa-arrow-right" style="color: var(--orange); font-size: 36px"></i><input type="submit" value="OPSLAAN">

                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}
